
.modal
  .close
    color white
    fill white
    top 15px
    right 15px

  .modalTitle
    color: white;

  .modalTitle,
  .modalPlayer
    max-width 800px

  .modalPlayer
    text-align center
    display block
    margin 0 auto
    width 100%

  @media screen and (max-width: 600px)
    flex-direction column
    position absolute
    top 0
    right 0
    left 0
    width 100%
    .close
      top 10
      right 10

    .modal-info,
    .modalPlayer
     flex 1

     .modalPlayer
       width 100%
       div
         width 100%


.ReactModal__Overlay--after-open {
 opacity: 1;
 transition: opacity 150ms ease-out;
}

.ReactModal__Content {
 transform: scale(1) rotateX(0deg);
 transition: all 150ms ease-in;
}

.ReactModal__Content-after-close {
 opacity: 0;
 transition: opacity 150ms ease-out;
}
