//@import "jeet";

.modal
  clearfix()
  .close
    color white
    fill white
  .info
  .player
    column(1/2)
    display: table-cell
    float: none
    vertical-align: top
    padding: 1em
  .info
    h2
      margin-top: 0
    p
      color white