.about
  
  .about__logos
    background-image url('../public/logos.png');
    background-size cover
    background-position center
    height 150px
    width 85%
    margin 0 auto
  .about__text
    max-width 560px
    text-align justify
    margin 0 auto
    p, dt
      font-family Roboto-Light
      font-weight normal
  .about__video
    text-align center
    iframe
      width 560px
