body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
html,
#root{
  position: relative;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: Roboto;
  src: url('./public/roboto-regular-webfont.woff2') format('woff2'),
    url('./public/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Light;
  src: url('./public/roboto-light-webfont.woff2') format('woff2'),
    url('./public/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Roboto, Frutiger, 'Helvetica Neue', Helvetica,
    'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT',
    'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans',
    'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
}
